<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>首页_个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.easyfader.min.js" type="text/javascript"></script>
    <script src="/static/js/scrollReveal.js" type="text/javascript"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
</head>

<body>
<header id="header">
    <!--menu begin-->
    <div class="menu">
        <nav class="nav" id="topnav">
            <h1 class="logo"><a href="index.html">个人博客</a></h1>
            <li><a href="/">网站首页</a> </li>
            <li><a href="/list">文章列表</a>
                <ul class="sub-nav">
                    {% for category in params.categories %}
                    <li><a href="/list?cate_id={{ category.id }}">{{ category.cate_name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="/photo">我的相册</a>
            </li>
            <li><a href="/time">时间轴</a> </li>
            <li><a href="/gbook">留言</a> </li>
            <li><a href="/about">关于我</a> </li>
            <li><a href="/release">发表博客</a></li>
        </nav>
    </div>
    {% if not params.user %}
        <a href="/login" class="login">登录</a>
        <a href="/register" class="register">注册</a>
    {% else %}
        <a class="login">欢迎：{{ params.user.uname }}</a>
        <a href="/logout" class="register">注销</a>
    {% endif %}
    <!--menu end-->
    <!--mnav begin-->
    <div id="mnav">
        <h2><a href="index.html" class="mlogo">个人博客</a><span class="navicon"></span></h2>
        <dl class="list_dl">
            <dt class="list_dt"> <a href="/">网站首页</a> </dt>
            <dt class="list_dt"> <a href="/list">文章列表</a> </dt>
            <dd class="list_dd">
                <ul>
                    <li><a href="list.html">Python</a></li>
                    <li><a href="list.html">python Web</a></li>
                    <li><a href="list.html">爬虫</a></li>
                    <li><a href="list.html">人工智能</a></li>
                    <li><a href="list.html">JS实例索引</a></li>
                </ul>
            </dd>
            <dt class="list_dt"> <a href="photo.html">我的相册</a> </dt>
            <dt class="list_dt"> <a href="time.html">时间轴</a> </dt>
            <dt class="list_dt"> <a href="gbook.html">留言</a> </dt>
            <dt class="list_dt"> <a href="about.html">关于我</a> </dt>
        </dl>
    </div>
    <!--mnav end-->


</header>
{% block pagebg %}
{% endblock %}

{% block container %}
    <article>
        <!--banner begin-->
        <div class="picsbox">
            <div class="banner">
                <div id="banner" class="fader">
                    {% for topic in params.banner_topics[0:3] %}
                    <li class="slide">
                        <a href="info?topic_id={{ topic.id }}" target="_blank">
                            <img src="/static/{{ topic.images.split(';') | first }}">
                            <span class="imginfo">{{ topic.title }}</span>
                        </a>
                    </li>
                    {% endfor %}

                    <div class="fader_controls">
                        <div class="page prev" data-target="prev">&lsaquo;</div>
                        <div class="page next" data-target="next">&rsaquo;</div>
                        <ul class="pager_list">
                        </ul>
                    </div>
                </div>
            </div>
            <!--banner end-->
            <div class="toppic">
                {% for topic in params.banner_topics[3:5] %}
                <li> <a href="info?topic_id={{ topic.id }}" target="_blank"> <i><img src="/static/{{ topic.images.split(';') | first }}"></i>
                    <h2>{{ topic.title }}</h2>
                    <span>{{ topic.category.cate_name }}</span>
                </a> </li>
                {% endfor %}

            </div>
        </div>
        <div class="blank"></div>
        <!--blogsbox begin-->
        <div class="blogsbox">
            {% for topic in params.topics %}
            <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                <h3 class="blogtitle"><a href="info?topic_id={{ topic.id }}" target="_blank">{{ topic.title }}</a></h3>
                {% if topic.images %}
                <span
                {% if topic.images.split(';')|length >=2 %}
                    class="bplist"
                {% elif loop.index%2==0 %}
                    class="bigpic"
                {% else  %}
                    class="blogpic"
                {% endif %}>
                    <a href="info?topic_id={{ topic.id }}" title="">
                        {% for image in topic.images.split(';') %}
                        <li><img src="/static/{{ image }}" alt=""></li>
                        {% endfor %}
                    </a>
                </span>
                {% endif %}
{#                <p class="blogtext">{{ topic.content }}</p>#}
                <div class="bloginfo">
                    <ul>
                        <li class="author"><a href="/about">{{ topic.user.uname }}</a></li>
                        <li class="lmname"><a href="/list?cate_id={{ topic.category.id }}">{{ topic.category.cate_name }}</a></li>
                        <li class="timer">{{ topic.pub_date.strftime('%Y-%m-%d') }}</li>
                        <li class="view"><span>{{ topic.read_num }}</span>已阅读</li>
                        <li class="like">{{ topic.voke_users.count() }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}

        </div>
        <!--blogsbox end-->
        <div class="sidebar">
            <div class="zhuanti">
                <h2 class="hometitle">特别推荐</h2>
                <ul>
                    {% for super_recommend_topic in params.super_recommend_topics %}
                    <li> <i><img src="/static/{{ super_recommend_topic.images.split(';') | first}}"></i>
                        <p>{{ super_recommend_topic.title }} <span><a href="/info?topic_id={{ super_recommend_topic.id }}">阅读</a></span> </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tuijian">
                <h2 class="hometitle">推荐文章</h2>
                {% for recommend_topic in params.recommend_topics %}
                    {% if loop.index == 1 %}
                <ul class="tjpic">
                    <i><img src="/static/{{ recommend_topic.images.split(';') | first }}"></i>
                    <p><a href="info?topic_id={{ recommend_topic.id }}">{{ recommend_topic.title }}</a></p>
                </ul>
                    {% else %}
                <ul class="sidenews">
                    <li> <i><img src="/static/{{ recommend_topic.images.split(';') | first }}"></i>
                        <p><a href="info?topic_id={{ recommend_topic.id }}">{{ recommend_topic.title }}</a></p>
                        <span>{{ recommend_topic.pub_date.strftime('%Y-%m-%d') }}</span>
                    </li>
                </ul>
                    {% endif %}
            {% endfor %}
{#                    <li> <i><img src="/static/images/toppic02.jpg"></i>#}
{#                        <p><a href="#">CentOS7下python开发环境配置</a></p>#}
{#                        <span>2018-05-13</span>#}
{#                    </li>#}
{#                    <li> <i><img src="/static/images/v1.jpg"></i>#}
{#                        <p><a href="#">python初步实现word2vec</a></p>#}
{#                        <span>2018-05-13</span>#}
{#                    </li>#}
{#                    <li> <i><img src="/static/images/v2.jpg"></i>#}
{#                        <p><a href="#">Python之if判断语句与while和for循环</a></p>#}
{#                        <span>2018-05-13</span>#}
{#                    </li>#}
{#                </ul>#}
            </div>
            <div class="tuijian">
                <h2 class="hometitle">点击排行</h2>
                {% for rank_topic in params.rank_topics %}
                {% if loop.index ==1 %}
                <ul class="tjpic">
                    <i><img src="/static/{{ rank_topic.images.split(';') | first }}"></i>
                    <p><a href="info?topic_id={{ rank_topic.id }}">{{ rank_topic.title }}</a></p>
                </ul>
                {% else %}
                <ul class="sidenews">
                    <li> <i><img src="/static/{{ rank_topic.images.split(';') | first }}"></i>
                        <p><a href="info?topic_id={{ rank_topic.id }}">{{ rank_topic.title }}</a></p>
                        <span>{{ rank_topic.pub_date.strftime('%Y-%m-%d') }}</span>
                    </li>
                </ul>
                {% endif %}
            {% endfor %}
            </div>
            <div class="cloud">
                <h2 class="hometitle">标签云</h2>
                <ul>
                    <a href="#">陌上花开</a> <a href="#">校园生活</a> <a href="#">html5</a> <a href="#">SumSung</a> <a href="#">青春</a> <a
                        href="#">温暖</a> <a href="#">阳光</a> <a href="#">三星</a><a href="#">索尼</a> <a href="#">华维荣耀</a> <a href="#">三星</a>
                    <a href="#">索尼</a>
                </ul>
            </div>
            <div class="links">
                <h2 class="hometitle">友情链接</h2>
                <ul>
                    <li><a href="#" target="_blank">达内</a></li>
                    <li><a href="#" target="_blank">亿元级IT教育领军企业</a></li>
                    <li><a href="#" target="_blank">人工智能改变世界</a></li>
                </ul>
            </div>
            <div class="guanzhu" id="follow-us">
                <h2 class="hometitle">关注我们 么么哒！</h2>
                <ul>
                    <li class="sina"><a href="#" target="_blank"><span>微信公众号</span>达内</a></li>
                    <li class="tencent"><a href="#" target="_blank"><span>微信咨询</span>XXX</a></li>
                    <li class="qq"><a href="#" target="_blank"><span>QQ号</span>XXXXXX</a></li>
                    <li class="email"><a href="#" target="_blank"><span>邮箱帐号</span>tedu.cn</a></li>
                    <li class="wxgzh"><a href="#" target="_blank"><span>咨询电话</span>xxxxxxxxxxx</a></li>
                </ul>
            </div>
        </div>
    </article>
{% endblock %}
<footer id="footer">
    <p>Design by <a href=# target="_blank">个人博客</a> <a href="#">备XXXXXXXXX号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>

</html>